.about-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 85%;
    height: 100vh;
    
    .about-title {
        display: flex;
        align-self: self-start;
        color: #ffffff;
        font-size: 60px;
        font-weight: bold;
    }

    .about-content {
        display: flex;
        justify-content: center;
        align-items: center;

        .about-img-container{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 450px;
            height: 100%;
    
            img{
                border-radius: 50%;
                width: 250px;
                height: 250px;
            }
            .about-img-icons{
                position: absolute;
                color: #0aea11;
                font-size: 30px;

                .icon-react {
                    position: relative;
                    right: 53px;
                    bottom: 80px;
                    font-size: 35px;
                }
                .icon-html {
                    position: relative;
                    left: 190px;
                    bottom: 80px;
                    font-size: 35px;
                }
                .icon-bootstrap {
                    position: relative;
                    top: 80px;
                    left: 154px;
                    font-size: 37px;
                    
                }
                .icon-javascript {
                    position: relative;
                    bottom: 155px;
                    right: 18px;
                }
                .icon-css {
                    position: relative;
                    right: 220px;
                    top: 80px;
                }
                
                .icon-github {
                    position: relative;
                    font-size: 35px;
                    right: 50px;
                    top: 150px;
                }
            }
        }

        .about-my-info {
            text-align: left;
            font-weight: bold;
            font-size: 17px;
            color: #c1c1c1;
            width: 75%;
            padding-left: 35px;
        }
    }
}
