.about-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 85%;
    height: 100vh;
    gap: 70px;
    
    .about-title {
        display: flex;
        align-self: self-start;
        color: #ffffff;
        font-size: 60px;
        font-weight: bold;
        margin-top: 150px;
    }

    .about-content {
        display: flex;
        justify-content: center;
        align-items: center;

        a{
            position: relative;
            top: 260px;
            right: 265px;

        .cv-button{
            border-radius: 3px;
            background-color: #0aea11;
            border: #c1c1c1;
            border: 1px solid rgba(255, 255, 255, 0.222);
            border-radius: .7rem;
            width: 200px;
            height: 40px;
            cursor: pointer;
        }

        .cv-button:hover {
            background-color: #0fa113;
        }
    }

        .about-img-container{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 450px;
            height: 100%;
    
            img{
                border-radius: 50%;
                width: 250px;
                height: 250px;
                position: absolute;
            }
            .about-img-icons{
                position: absolute;
                color: #0aea11;
                font-size: 30px;

                .icon-react {
                    position: relative;
                    right: 53px;
                    bottom: 80px;
                    font-size: 35px;
                }
                .icon-html {
                    position: relative;
                    left: 190px;
                    bottom: 80px;
                    font-size: 35px;
                }
                .icon-bootstrap {
                    position: relative;
                    top: 80px;
                    left: 154px;
                    font-size: 37px;
                    
                }
                .icon-javascript {
                    position: relative;
                    bottom: 155px;
                    right: 18px;
                }
                .icon-css {
                    position: relative;
                    right: 220px;
                    top: 80px;
                }
                
                .icon-github {
                    position: relative;
                    font-size: 35px;
                    right: 50px;
                    top: 150px;
                }
            }
        }

        .about-my-info {
            text-align: left;
            font-weight: bold;
            font-size: 22px;
            color: #c1c1c1;
            width: 75%;
            padding-left: 10px;
        }
    }
}

.about-container-mobile {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 85%;
    height: 100vh;
    
    .about-title {
        display: flex;
        color: #ffffff;
        font-weight: bold;
        font-size: 40px;
        margin-top: 250px;
    }

    .about-content {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 20px;

        a {

            .cv-button {
                border-radius: 3px;
                background-color: #0aea11;
                border: #c1c1c1;
                border: 1px solid rgba(255, 255, 255, 0.222);
                border-radius: .7rem;
                cursor: pointer;
            }

            .cv-button:hover {
                background-color: #0fa113;
            }
        }

        .about-my-info {
            font-weight: bold;
            color: #c1c1c1;
            width: 75%;
            text-align: left;
        }
    }
}
