.about-container {
    .about-title {
        font-family: 'roboto condensed';
        font-size: 60px;
        padding-top: 60px;


        .about-my-info {
            font-size: 40px;
            color: #c1c1c1;
        }
    }
}
