.home-container{
    display: flex;
    gap: 150px;
    justify-content: center;
    align-items: center;
    height: 100vh;

    .home-img{
        border-radius: 50%;
        width: 450px;
        height: 450px;

        .profile-image{
            border-radius: 50%;
            width: 100%;
            height: 100%;
        }
    }

    .home-text-container {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        gap: 50px;

        p {
            margin: 0;
        }
    
        .home-main-title{
            font-size: 95px;
            font-weight: bold;
            position: relative;
            right: 50px;
        }
    
        .home-subtitle {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            .subtitle-phrase {
                color: #ffffff;
                font-size: 60px;
                font-weight: bold;
            }
    
            .subtitle-word {
                color: #0aea11;
                font-size: 80px;
            }
        }
    
        .home-icons {
            font-size: 40px;
            display: flex;
            gap: 15px;

            i {
                cursor: pointer;
                color: #0aea11;
            }
        }
    }
    

}
